# Claude AI
CLAUDE_API_KEY=your_claude_api_key_here

# SQL Server
SQL_CONNECTION_STRING_IDENTITY=Server=localhost;Database=NexHire_IdentityDB;Trusted_Connection=True;TrustServerCertificate=True;
SQL_CONNECTION_STRING_HRMS=Server=localhost;Database=NexHire_HRMSDB;Trusted_Connection=True;TrustServerCertificate=True;
SQL_CONNECTION_STRING_RECRUITMENT=Server=localhost;Database=NexHire_RecruitmentDB;Trusted_Connection=True;TrustServerCertificate=True;

# JWT
JWT_SECRET=NexHire@SuperSecretKey#2026!FWC$XyZ987
JWT_EXPIRY_HOURS=24

# Ports
IDENTITY_SERVICE_URL=http://localhost:5100
HRMS_SERVICE_URL=http://localhost:5200
RECRUITMENT_SERVICE_URL=http://localhost:5300
RESUME_AI_URL=http://localhost:8001
INTERVIEW_AI_URL=http://localhost:8002
GATEWAY_URL=http://localhost:5000
ANGULAR_URL=http://localhost:4200
